.external-link {
  color: var(--link-external-color);
  text-decoration-line: var(--link-external-decoration);
  background-position: center right;
  background-repeat: no-repeat;
  background-image: linear-gradient(transparent, transparent), url(public/images/874d8b8e340f75575caa.svg);
  background-size: 13px;
  padding-right: 16px;
  //background-position-y: 4px;
  cursor: var(--cursor-link);
  filter: var(--link-external-filter);
  vertical-align: middle;
}

.external-link:hover {
  color: var(--link-external-color-hover);
  text-decoration-line: var(--link-external-decoration);
  background-position: center right;
  background-repeat: no-repeat;
  background-image: linear-gradient(transparent, transparent), url(public/images/874d8b8e340f75575caa.svg);
  background-size: 13px;
  padding-right: 16px;
  //background-position-y: 4px;
  cursor: var(--cursor-link);
  filter: var(--link-external-filter);
}

/*a:hover {
    color: var(--link-color-hover) !important;
    text-decoration: underline !important;
}*/
